@model Persona


<body>
     <div class="row">
        <div class="col-md-6">
            <form asp-action="RegistrarPersona" asp-controller="Persona">
                <div class="form-group">

                </div>
                <div class="form-group">
                    
                </div>
                <div class="form-group">
                    
                </div>
                <div class="form-group">
                    
                </div>
                <div class="form-group">
                    
                </div>
        
            </form>

        </div>
    </div>


</body>
