@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
<h2>Codigo de estado: @ViewData["statusCode"]</h2>
<h3>Development Mode</h3>
<p>
    Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
</p>


<h3> Posibles causas:
</h3>
<ul class="list-group">
  <li class="list-group-item">Intentó acceder mediante una cuenta que no pertenece a la compañia</li>
  <li class="list-group-item">Ingreso un Microchip o codigo que ya está registrado en la base de datos</li>
  <li class="list-group-item">Se perdió la conexion con el servidor</li>
  <li class="list-group-item">Intentó acceder a un elemento que no existe</li>
  <li class="list-group-item">Quizo modificar el Microchip o eliminar un perro que otros dependen (se le tiene que aislar para poder eliminarlo o cambiar su Microchip)</li>
</ul>


<p><strong>Para mayores detalles, consulte con el administrador</strong></p>

