
obj/Debug/netcoreapp2.1/KLBHistorial.AssemblyInfo.cs
obj/Debug/netcoreapp2.1/KLBHistorial.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.1/KLBHistorial.assets.cache
obj/Debug/netcoreapp2.1/KLBHistorial.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.1/KLBHistorial.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.1/KLBHistorial.RazorAssemblyInfo.cache
obj/Debug/netcoreapp2.1/KLBHistorial.RazorAssemblyInfo.cs
obj/Debug/netcoreapp2.1/project.razor.json
obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/KLBHistorial.csproj.nuget.cache
obj/KLBHistorial.csproj.nuget.g.props
obj/KLBHistorial.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp2.1/KLBHistoria.AssemblyInfo.cs
obj/Debug/netcoreapp2.1/KLBHistoria.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.1/KLBHistoria.assets.cache
obj/Debug/netcoreapp2.1/KLBHistoria.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.1/KLBHistoria.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.1/KLBHistoria.RazorAssemblyInfo.cache
obj/Debug/netcoreapp2.1/KLBHistoria.RazorAssemblyInfo.cs
obj/KLBHistoria.csproj.nuget.cache
obj/KLBHistoria.csproj.nuget.g.props
obj/KLBHistoria.csproj.nuget.g.targets
obj/Debug/netcoreapp2.1/KLBHistoria.AssemblyInfo.cs
obj/Debug/netcoreapp2.1/KLBHistoria.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.1/KLBHistoria.assets.cache
obj/Debug/netcoreapp2.1/KLBHistoria.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.1/KLBHistoria.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.1/KLBHistoria.RazorAssemblyInfo.cache
obj/Debug/netcoreapp2.1/KLBHistoria.RazorAssemblyInfo.cs
obj/KLBHistoria.csproj.nuget.cache
obj/KLBHistoria.csproj.nuget.g.props
obj/KLBHistoria.csproj.nuget.g.targets
obj/Debug/netcoreapp2.1/KLBHistoria.csproj.CopyComplete
bin/Debug/netcoreapp2.1/KLBHistoria.dll
bin/Debug/netcoreapp2.1/KLBHistoria.pdb
bin/Debug/netcoreapp2.1/KLBHistoria.Views.dll
bin/Debug/netcoreapp2.1/KLBHistoria.Views.pdb
bin/Debug/netcoreapp2.1/KLBHistoria.deps.json
bin/Debug/netcoreapp2.1/KLBHistoria.runtimeconfig.json
bin/Debug/netcoreapp2.1/KLBHistoria.runtimeconfig.dev.json
obj/KLBHistoria.csproj.nuget.dgspec.json
obj/Debug/netcoreapp2.1/KLBHistoria.dll
obj/Debug/netcoreapp2.1/KLBHistoria.pdb
obj/Debug/netcoreapp2.1/KLBHistoria.RazorCoreGenerate.cache
obj/Debug/netcoreapp2.1/KLBHistoria.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp2.1/KLBHistoria.RazorTargetAssemblyInfo.cs
obj/Debug/netcoreapp2.1/KLBHistoria.TagHelpers.input.cache
obj/Debug/netcoreapp2.1/KLBHistoria.TagHelpers.output.cache
obj/Debug/netcoreapp2.1/KLBHistoria.Views.dll
obj/Debug/netcoreapp2.1/KLBHistoria.Views.pdb
obj/Debug/netcoreapp2.1/KLBHistoria.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.1/Razor/Views/_ViewImports.g.cshtml.cs
obj/Debug/netcoreapp2.1/Razor/Views/_ViewStart.g.cshtml.cs
obj/Debug/netcoreapp2.1/Razor/Views/Home/About.g.cshtml.cs
obj/Debug/netcoreapp2.1/Razor/Views/Home/Contact.g.cshtml.cs
obj/Debug/netcoreapp2.1/Razor/Views/Home/Index.g.cshtml.cs
obj/Debug/netcoreapp2.1/Razor/Views/Home/Privacy.g.cshtml.cs
obj/Debug/netcoreapp2.1/Razor/Views/Shared/Error.g.cshtml.cs
obj/Debug/netcoreapp2.1/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
obj/Debug/netcoreapp2.1/Razor/Views/Shared/_Layout.g.cshtml.cs
obj/Debug/netcoreapp2.1/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
obj/LKBHistorial.csproj.nuget.cache
bin/Debug/netcoreapp2.2/LKBHistorial.dll
bin/Debug/netcoreapp2.2/LKBHistorial.pdb
bin/Debug/netcoreapp2.2/LKBHistorial.Views.dll
bin/Debug/netcoreapp2.2/LKBHistorial.Views.pdb
bin/Debug/netcoreapp2.2/LKBHistorial.deps.json
bin/Debug/netcoreapp2.2/LKBHistorial.runtimeconfig.json
bin/Debug/netcoreapp2.2/LKBHistorial.runtimeconfig.dev.json
obj/LKBHistorial.csproj.nuget.dgspec.json
obj/LKBHistorial.csproj.nuget.g.props
obj/LKBHistorial.csproj.nuget.g.targets
obj/Debug/netcoreapp2.2/LKBHistorial.dll
obj/Debug/netcoreapp2.2/LKBHistorial.pdb
obj/Debug/netcoreapp2.2/LKBHistorial.AssemblyInfo.cs
obj/Debug/netcoreapp2.2/LKBHistorial.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.2/LKBHistorial.RazorAssemblyInfo.cache
obj/Debug/netcoreapp2.2/LKBHistorial.RazorAssemblyInfo.cs
obj/Debug/netcoreapp2.2/LKBHistorial.RazorCoreGenerate.cache
obj/Debug/netcoreapp2.2/LKBHistorial.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp2.2/LKBHistorial.RazorTargetAssemblyInfo.cs
obj/Debug/netcoreapp2.2/LKBHistorial.TagHelpers.input.cache
obj/Debug/netcoreapp2.2/LKBHistorial.TagHelpers.output.cache
obj/Debug/netcoreapp2.2/LKBHistorial.Views.dll
obj/Debug/netcoreapp2.2/LKBHistorial.Views.pdb
obj/Debug/netcoreapp2.2/LKBHistorial.assets.cache
obj/Debug/netcoreapp2.2/LKBHistorial.csproj.CopyComplete
obj/Debug/netcoreapp2.2/LKBHistorial.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.2/LKBHistorial.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.2/LKBHistorial.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/Razor/Views/_ViewImports.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/_ViewStart.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Home/About.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Home/Contact.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Home/Index.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Home/Privacy.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Perro/RegistrarHembra.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Perro/RegistrarPerro.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Shared/Error.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Shared/_Layout.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Perro/RegistrarCriadero.g.cshtml.cs
obj/Debug/netcoreapp2.2/project.razor.json
obj/Debug/netcoreapp2.2/Razor/Views/Perro/RegistrarCriador.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Perro/RegistrarCriador.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Perro/RegistrarLunada.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Perro/RegistrarPrenada.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Perro/ListarPerros.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Hembra/RegistrarLunada.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Hembra/RegistrarPrenada.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Perro/ModificarPerro.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Perro/ListaPerros.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Perro/EliminarPerro.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Perro/Arbol.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Perro/ConfirmacionNormal.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Hembra/ConfirmacionLunada.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Hembra/ConfirmacionPrenada.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Perro/ConfirmacionPerro.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Hembra/ListaPrenada.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Hembra/ListaLunada.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Hembra/ListaPrenada.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Hembra/ListaLunada.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Hembra/ListaLunada.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Hembra/ListaPrenada.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Hembra/ListaLunada.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Hembra/ListaPrenada.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Hembra/ListaLunada.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Hembra/ListaPrenada.g.cshtml.cs
.vscode/tasks.json
.vscode/launch.json
obj/Debug/netcoreapp2.2/Razor/Views/Socio/ConfirmacionSocio.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Deudor/ConfirmacionDeudor.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Deudor/ListadoDeudor.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Deudor/ModificarDeudor.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Deudor/RegistrarDeudor.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Socio/ModificarSocio.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Socio/RegistrarSocio.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Usuario/ConfirmarEmail.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Usuario/Denegado.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Usuario/Login.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Usuario/Registro.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Shared/_LoginPartial.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Socio/ListaSocios.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Deudor/ListaDeudores.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Socio/Asignaciones.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Deudor/DetallesDeudor.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Deudor/EliminarDeudor.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Deudor/RegistrarDeuda.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Persona/ConfirmacionPersona.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Persona/RegistrarPersona.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Socio/AsignarPerroSocio.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Socio/EliminarSocio.g.cshtml.cs
