@model IEnumerable<Lunada>

@{
    ViewData["Title"]="Listado de lunadas";
}


<body>
<h2>Listado de lunadas</h2>
    <div class="row">
        <div class="col-md-12">
            <a asp-action="ListaPrenada" class="btn btn-primary">
                Preñadas
            </a>
            <a asp-action="ListaLunada" class="btn btn-light">
                Lunadas
            </a>
        </div>
        @foreach (var i in Model)
        {
            <div class="col-md-3">
                
                <p>
                    Nombre: 
                    @Html.DisplayFor(modelItem=>i.Perro.Nombre)
                </p>
                <p>
                    Fecha de inicio: 
                    @Html.DisplayFor(modelItem=>i.FechaInicio,"{0:dd/MM/yyyy}")
                </p>
                <p>
                    Fecha final: 
                    @Html.DisplayFor(modelItem=>i.FechaFin,"{0:dd/MM/yyyy}")
                </p>
                <p>
                    Numero de celos: 
                    @Html.DisplayFor(modelItem=>i.NumeroCelos)
                </p>

            </div>
            
        }
        <div class="col-md-12">
            @if(User.Identity.IsAuthenticated){
                <a asp-action="RegistrarLunada" asp-controller="Hembra" class="btn btn-secondary">Registrar Lunada</a>
            }
            
        </div>

    </div>
</body>