@model IEnumerable<Prenada>

@{
    ViewData["Title"]="Listado de Preñadas";
}

<body>
    <div class="row">
            <div class="col-md-12">
                <form asp-action="ListaPerros">
                    <input type="text" name="nombre" placeholder="Buscar por nombre">

                </form>
            </div>
    </div>
    <div class="row">
        @foreach (var i in Model)
        {
             <div class="col-md-3">
                <p>@Html.DisplayFor(modelItem=>i.CantidadInseminadas)</p>
                <p>@Html.DisplayFor(modelItem=>i.FechaInicio)</p>
                <p>@Html.DisplayFor(modelItem=>i.FechaFin)</p>
                <p>@Html.DisplayFor(modelItem=>i.TipoParto)</p>
            </div>
        }
           
        </div>

</body>
