@model Lunada

@{
    ViewData["Title"]="Registro de lunada";
}

<head>

</head>


<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script type="text/javascript">
    
         

    
     </script>
    <div class="row">
        <div class="col-md-5">
            <form asp-action="RegistrarLunada" asp-controller="Hembra">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
               
                <div class="form-group">
                    <label>Selecciona hembra:</label>
                    <select asp-items="ViewBag.Hembras" asp-for="IdPerro"></select>
                </div>
                <div class="form-group">
                    <label>Fecha de inicio</label>
                    <input type="date" asp-for="FechaInicio">
                </div>
                <div class="form-group">
                    <label>Fecha final</label>
                    <input type="date" asp-for="FechaFin">
                </div>
                <div class="form-group">
                    <label>Numero de celos (sin contar actual)</label>
                    <input type="number" asp-for="NumeroCelos">
                </div>
                <div class="form-group">
                    <input type="submit" value="Registrar Lunada" class="btn btn-primary" id="boton">
                </div>
            </form>
        </div>
    </div>
     <div class="row">
        <div class="col-md-3">
            <a asp-action="ListaLunada" asp-controller="Hembra" class="btn btn-info">Lista de Lunadas</a>
        </div>
    </div>

</body>