@{
    ViewData["Title"] = "Nosotros";
}
<!--<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3500">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
       <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/b5.jpg" alt="ASP.NET"  />
           
        </div>
        <div class="item">
            <img src="~/images/b2.jpg" alt="Visual Studio"  />
           
        </div>
        <div class="item">
            <img src="~/images/b3.jpg" alt="Microsoft Azure" />
          
        </div>
    </div>
   
</div>-->
<hr />
<div class="row">
  <div class="col-sm-12">
    <h3><label>Nuestra Institución</label></h3>
    <div class="row">
      <div class="col-md-6">
        
        <p>La revista “Línea Bulls”, es una organización privada fundada en Lima - Perú, que tiene como objetivo principal trabajar por realzar la raza American Bully y Exotic Bully en el Perú.</p>  
        <p>Así mismo busca impulsar la compra, exposición de criaderos, dueños, veterinarias, líneas de comida, así como crear talleres cuyo fin es informar y capacitar a los dueños de perros y a todos sus lectores en general. </p>
        <p>El sistema LKB Historial ofrece solución a la gestión manual que tiene la empresa “Línea Bulls” respecto al manejo de la información del negocio, línea sanguínea de los cachorros propios de la empresa y de sus clientes, brindando toda esta información organizada con interfaces amigables tanto para el administrador de la empresa y los clientes.</P>
      </div>
      <div class="col-md-6">
          <p><img src="~/images/b4.jpg "></p>
      </div>
    </div>
  </div>
</div>
@if(User.Identity.IsAuthenticated){
<hr />
 <div class="row">
  <div class="list-group">
    <a asp-action="RegistarPersona" asp-controller="Persona" class="list-group-item list-group-item-action">Registro de persona</a>
    <a asp-action="RegistrarSocio" asp-controller="Socio" class="list-group-item list-group-item-action">Registro de socio</a>
    <a asp-action="RegistrarDeudor" asp-controller="Deudor" class="list-group-item list-group-item-action">Registro de deudor</a>
    <a  asp-action="Asignaciones" asp-controller="Socio" class="list-group-item list-group-item-action">Asignaciones</a>
  </div>

 </div>
}

<hr />
<div class="row">
<div class="col-xs-12 col-sm-4"><h3><label>Videos</label></h3>
  <ul><iframe src="https://www.youtube.com/embed/KgSwopbVPJE"></iframe></ul>
</div>
<div class="col-xs-12 col-sm-4"><h3><label> </label></h3>
   <ul><iframe src="https://www.youtube.com/embed/E7IJ_JJtaE4"></iframe></ul>
</div>
<div class="col-xs-12 col-sm-4"><h3><label> </label></h3>
<ul><iframe src="https://www.youtube.com/embed/x6ReCqK4yng"></iframe></ul>
</div>
</div>

<hr />
<br>
