<!-- Para el listado se pone un IEnumerable para tener mayor control
sobre este (y porque en el backend se demanda uno al hacer ToList)-->

@model IEnumerable<LKBHistorial.Models.Perro>

<html>
    <head>

        <title>
            Arbol Geneologico
        </title>
    </head>

    <body>
        <div class="row">

            <div class="col-md-12">
                <form asp-controller="Perro" asp-action="ArbolGeneologico">
                    <label>Buscar</label>
                    <!--Aqui se define los inputs con nombre que lo enlazaran con el controller-->
                    <input type="text" name="nombre">
                    <input type="text" name="tipo">
                </form>
            </div>
            @foreach (var item in Model)
            {
                <div class="col-md-5">
                    <img src="Url.Content(item.Imagen)" height="250" width="200"/>
                    
                   

                </div>
                <div class="col-md-1">
                    <li>
                        <!--En caso no funcione: <a asp-action="DetallesPerro" asp-route-idperro="@item.Id"></a>-->
                        <a asp-action="DetallesPerro" asp-route-idperro="@item.Id"> Detalles del perro</a>
                    </li>
                </div>

            }

        </div>

         <form asp-action="Index" asp-controller="Home" >
            <input type="button" value="Regresar" class="btn btn-secondary">
        </form>

    </body>




</html>