@model Perro 

@{
    ViewData["Title"]="Arbol geneologico";
}

<body>
    <div class="row">
        <div class="col-6-md">
            

        </div>

    </div>
    <div class="row">
        <div class="col-2-md">
            
            <a asp-action="ListaPerros" asp-controller="Perro" class="btn btn-secondary"></a>

            
        </div>

    </div>



</body>