@model LKBHistorial.Models.Perro

<html>
    <head>

        <title>
            Arbol Geneologico
        </title>
    </head>

    <body>
        <div class="row">
            


        </div>

    </body>




</html>