@model Perro


@{
    ViewData["Title"]="Eliminación de Perro";
}
<head>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
             <script type="text/javascript">
                $(document).ready(function(){
                    $("#Boton").click(function(e){
                        
                        if(!window.confirm("Estas advertido/a: despues de esto, no hay marcha atrás. ¿De verdad quieres continuar?")){
                            e.preventDefault();
                        }
                    }); 
                });
               
            </script>

</head>

<body>
   
   
    <div class="row">
        <div class="col-md-6">
            <h2>Advertencia</h2>
            <p>Estas a punto de eliminar este ejemplar de la base de datos</p>
            <div>
                @Html.DisplayFor(model=>model.Nombre)
            </div>
            <div>
                 @Html.DisplayFor(model=>model.Sexo)
            </div>
            <div>
                 @Html.DisplayFor(model=>model.FechaNacimiento)
            </div>
            <div>
                 @Html.DisplayFor(model=>model.Madurez)
            </div>
            <div>
                
            </div>
            <div>
                
            </div>


        </div>

    </div>
    <div class="row">
        <div class="col-md-2">
            <p>¿Estas seguro/a que quieres continuar?</p>
        </div>
    </div>
    <form asp-action="EliminarPerro" asp-controller="Perro">
        <input type="hidden" asp-for="Id">
        <input type="submit" value="Eliminar" class="btn btn-danger" id="Boton">
    </form>

    <a asp-action="ListaPerros" asp-controller="Perro" class="btn btn-default" >
            Regresar a la Lista
        </a>
</body>