@model IEnumerable<Perro>

@{
    ViewData["Title"]="Listado de Perros";
}

    <body>
        <div class="row">
            @foreach (var i in Model)
            {
                <div class="col-md-3">

                </div>
            }
        </div>

    </body>


