@model IEnumerable<LKBHistorial.Models.Perro>

@{
    ViewData["Title"]="Listado de Perros";
}

    <body>
        <div class="row">
            <div class="col-md-12">
                <form asp-action="ListaPerros"  asp-controller="Perro">
                    <input type="text" name="nombre" placeholder="Buscar por nombre">
                    <select asp-items="ViewBag.Razas" name="raza"></select>
                    <input type="submit" value="Buscar">
                </form>
            </div>
            <div class="col-md-12">
                
            </div>
            <div class="col-md-12">
                <a asp-action="RegistrarPerro" asp-controller="Perro" class="btn btn-default">Registrar Perro</a>
              
            </div>
        </div>
        <div class="row">
            @foreach (var i in Model)
            {
                <div class="col-md-3 border border-secondary">
                    <br>
                    <p>@Html.DisplayFor(modelItem=>i.Nombre)</p>
                   
                    
                   
                <a asp-action="EliminarPerro" asp-controller="Perro" asp-route-id="@i.Id" class="btn btn-warning">Eliminar</a><br>
                <a asp-action="ModificarPerro" asp-controller="Perro" asp-route-id="@i.Id" class="btn btn-light">Modificar</a><br>
                <a asp-action="Arbol" asp-controller="Perro" asp-route-id="@i.Id" class="btn btn-secondary">Mostrar Arbol</a>

                </div>

                
            }
        </div>
       
        <div class="row">
           
        </div>
    </body>


