@model LKBHistorial.Models.Perro


@{
    ViewData["Title"]="Modificación de Perro";
}
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function(){
                    $("#Boton").click(function(e){
                        
                        if(!window.confirm("¿Seguro/a?")){
                            e.preventDefault();
                        }
                    });

                     $("#madurez").change(function() {
                        if ($(this).val() === "C") {
                            $(".temperamiento").prop("disabled", true);
                            $(".estatura").prop("disabled", true);
                            document.getElementById('ad').style.display="none";
              
                         }else {
                            $(".temperamiento").prop("disabled", false);
                            $(".estatura").prop("disabled", false);
                            document.getElementById('ad').style.display="block";

                        }
            
                    }); 

                    $('[type="date"].max-today').prop('max', function(){
                        return new Date().toJSON().split('T')[0];
                     });
                });
               
            </script>


</head>

<body>
  <h2>Modificar Perro</h2>
    <div class="row">
        <div class="col-md-5">
             <form asp-action="ModificarPerro" asp-controller="Perro" >
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label>Microchip</label>
                        <input type="number" asp-for="Id" class="form-control">
                        <span asp-validation-for="Id" class="text-danger"></span>
                         
                    </div>    
                     <div class="form-group">
                        <select asp-for="Madurez" id="madurez" class="form-control">
                            <option value="C">Cachorro</option>
                            <option value="A">Adulto</option>
                        </select>
                        <span asp-validation-for="Madurez" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label>Nombre de perro</label>
                        <!--pon aqui un input, defines que tipo de input es, 
                         pones el asp-for para enlazarlo con un atributo, y le asignas una clase
                         -->
                       <input type="text" asp-for="Nombre" class="form-control">
                       <!--Esto se usa para mostrar algun mensaje de error
                        -->
                       <span asp-validation-for="Nombre"></span>
                    </div>
                    
                    <div class="form-group">
                        <label>Nombre del criador (Original)</label>
                        <select asp-items="ViewBag.Criadores" asp-for="IdCriadorOriginal" class="form-control"></select>
                         <span asp-validation-for="IdCriadorOriginal" class="text-danger"></span>
                   
                    </div>
                     <div class="form-group">
                        <label>Nombre del criador (Actual)</label>
                        <select asp-items="ViewBag.Criadores" asp-for="IdCriadorActual" class="form-control"></select>
                        <span asp-validation-for="IdCriadorActual" class="text-danger"></span>
                    </div>
                     <div class="form-group">
                        <label>Nombre del criadero</label>
                        <select asp-items="ViewBag.Criaderos" asp-for="IdCriadero" class="form-control"></select>
                        <span asp-validation-for="IdCriadero" class="text-danger"></span>
                    </div>
                     <div class="form-group">
                         <label>Nombre del criadero</label>
                         <select asp-items="ViewBag.Razas" asp-for="IdRaza" class="form-control"></select>
                         
                     </div>

                    <div class="form-group">
                        <select asp-for="Sexo" class="form-control">
                            <option value="M">Macho</option>
                            <option value="H">Hembra</option>
                        </select>
                         <span asp-validation-for="Sexo" class="text-danger"></span>
                        
                    </div>

                    <div class="form-group">
                        <label>Fecha de Nacimiento</label>
                        <input type="date" asp-for="FechaNacimiento" class="form-control max-today">
                        <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                         <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                    </div>
                    
                    <div id="ad">
                        <div class="form-group">
                         <label>Temperamento</label>
                         <select asp-for="Temperamento" class="temperamiento form-control">
                            <option value="Docil">Docil</option>
                            <option value="Relajado">Relajado</option>
                            <option value="Moderado">Moderado</option>
                            <option value="Agresivo">Agresivo</option>
                           
                         </select>
                        
                        </div>
                    
                        <div class="form-group">
                            <label>Estatura</label>
                            <select asp-items="ViewBag.Estaturas" asp-for="IdEstatura" class="estatura form-control"></select>
                           
                        </div>

                        <div class="form-group">
                            <label>Padre</label>
                            <select asp-items="ViewBag.Machos" asp-for="IdPadre" class="form-control"></select>
                        </div> 
                        <div class="form-group">
                            <label>Madre</label>
                            <select asp-items="ViewBag.Hembras" asp-for="IdMadre" class="form-control"></select>
                        </div> 

                    </div>

                     <div class="form-group">
                        <input type="submit" value="Modificar Perro" class="btn btn-default" id="Boton">
                    </div>

                </form>

        </div>

    </div>

        <a asp-action="ListaPerros" asp-controller="Perro" class="btn btn-info">
            Regresar a la Lista
        </a>
</body>
