@model LKBHistorial.Models.Perro

@{
    ViewData["Title"]="Registrar Perro";
}


<html>

    <script type="text/javascript">
        function confirmar(){
            
        }

    </script>
    <head>
    

    </head>

    <body>
        <h2>
            Registrar Perro
        </h2>

        <div class="row">
            <div class="col-md-4">
                <form asp-action="RegistrarPerro" asp-controller="Perro" >
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    
                    <div class="form-group">
                        <label>Codigo de perro</label>
                        <input type="text" asp-for="Id" class="form-control">
                        <span asp-asp-validation-for="Id" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label>Nombre de perro</label>
                        <!--pon aqui un input, defines que tipo de input es, 
                         pones el asp-for para enlazarlo con un atributo, y le asignas una clase
                         -->
                       <input type="text" asp-for="Nombre" class="form-control">
                       <!--Esto se usa para mostrar algun mensaje de error
                        -->
                       <span asp-asp-validation-for="Nombre"></span>

                    <div class="form-group">
                        <label></label>
                         
                   
                    </div>

                    <div class="form-group">
                        <select asp-for="Sexo">
                            <option value="m">Macho</option>
                             <option value="h">Hembra</option>
                        </select>
                        
                    </div>

                    <div class="form-group">
                        <label>Fecha de Nacimiento</label>
                        <input type="date" asp-for="FechaNacimiento" class="form-control">
                       
                    </div>

                    <div class="form-group">
                        <label>Madurez</label>
                        <select asp-for="Madurez">
                            <option value="Cachorro">Cachorro</option>
                            <option value="Adulto">Adulto</option>
                        </select>
                       
                    </div>

                     <div class="form-group">
                        <label>Fecha de Nacimiento</label>
                        <input type="date" asp-for="FechaNacimiento" class="form-control">
                      
                    </div>

                     <div class="form-group">
                        <input type="submit" value="Registrar Perro" class="btn btn-default">
                    </div>

                </form>


            </div>


        </div>

         <form asp-action="Index" asp-controller="Home" >
            <input type="button" value="Regresar" class="btn btn-secondary">
        </form>
       
    </body>




</html>



