@model LKBHistorial.Models.Criador

@{
    ViewData["Title"]="Registrar Criador";
}

<html>
   
    <head>


    </head>

    <body>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function(){
                    $("#Boton").click(function(e){
                        
                        if(!window.confirm("¿Seguro/a?")){
                            e.preventDefault();
                        }
                    }); 
                });
               
            </script>

        <div class="row">
            <div class="col-md-4"> 
                <form asp-action="RegistrarCriador" asp-controller="Perro" >
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                   
                     <div class="form-group">
                         <label>Nombre de criador</label>
                        <input type="text" asp-for="Nombre" class="form-control">
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    
                    </div>
                     <div class="form-group">
                        <label>Apellido Paterno</label>
                        <input type="text" asp-for="ApellidoPaterno" class="form-control">
                        <span asp-validation-for="ApellidoPaterno" class="text-danger"></span>

                    </div>
                     <div class="form-group">
                         <label>Apellido Materno</label>
                        <input type="text" asp-for="ApellidoMaterno" class="form-control">
                        <span asp-validation-for="ApellidoMaterno" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <label>Telefono</label>
                        <input type="number" asp-for="Telefono" class="form-control">
                        <span asp-validation-for="Telefono" class="text-danger"></span>

                    </div>

                    <div class="form-group">
                        <label>Criadero</label>
                        <select asp-items="ViewBag.Criaderos" asp-for="IdCriadero"></select>
                      
                    </div>
                    <div class="form-group">
                      <input type="submit" id="Boton" value="Registrar Criador" class="btn btn-primary">                   
                    </div>

                </form>
                
            </div>   

        </div>
        <div class="row"> 
            <div class="col-md-2">
                <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Regresar</a>
            </div>
        </div>


    </body>

</html>