@model LKBHistorial.Models.Reproductora

<html>


    
    <head>
        <title>
            Registrar Hembras
        </title>

    </head>

    <body>
        <div class="row">
            <div class="col-md-4">
                <div class="form-class">

                </div>
                <div class="form-class">

                </div>
                <div class="form-class">

                </div>
                <div class="form-class">

                </div>
                <div class="form-class">

                </div>
                <div class="form-class">

                </div>

            </div>

        </div>


        <form asp-action="ArbolGeneologico" >
            <input type="button" value="Regresar" class="btn btn-secondary">
        </form>
            
        

    </body>




</html>