@model LKBHistorial.Models.Criadero



<html>
    <script type="text/javascript">
        $("#Boton").confirm("Quieres realizar el registro?");
        function confirmar(){
            
        }

    </script>

    <head>


    </head>

    <body>
        <div class="row">
            <div class="col-md-4"> 
                <form asp-action="RegistrarCriadero" asp-controller="Perro" >
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input type="number">

                    </div>
                     <div class="form-group">
                        <input type="text">
                    
                    </div>
                     <div class="form-group">

                    
                    </div>
                     <div class="form-group">

                    
                    </div>
                    <div class="form-group">

                    
                    </div>
                    <div class="form-group">
                      <input type="submit" id="Boton" value="Registrar Criadero" class="btn btn-default">                   
                    </div>

                </form>
                
            </div>   

        </div>


    </body>

</html>
