@model LKBHistorial.Models.Criador

@{
    ViewData["Title"]="Registrar Criador";
}

<html>
   
    <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function(){
                    /*
                     $("#Boton").click(function(e){
                        
                        if(!window.confirm("¿Seguro/a?")){
                            e.preventDefault();
                        }
                    }); 
                    
                    */
                   
                });
               
            </script>


    </head>

    <body style="background-image: url(https://static2.lasprovincias.es/www/multimedia/201812/18/media/cortadas/american-bully-kNf-U601912647245OiF-624x500@Las%20Provincias.jpg">
        <h2 style="color: #fff;">REGISTRAR CRIADERO</h2>
        <!--
            <div style="text-align:right">    
                 <a asp-action="Index" asp-controller="Home" class="btn btn-info" >Regresar</a>
		</div>

        -->
        
        <hr />
        <div class="row" style="color: #fff;font-weight:bold ; font-size:19px; ">
            <div class="col-md-4"> 
                <form asp-action="RegistrarCriador" asp-controller="Perro" >
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                   
                     <div class="form-group">
                         <label>Nombre de criador</label>
                        <input type="text" asp-for="Nombre" class="form-control">
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    
                    </div>
                     <div class="form-group">
                        <label>Apellido Paterno</label>
                        <input type="text" asp-for="ApellidoPaterno" class="form-control">
                        <span asp-validation-for="ApellidoPaterno" class="text-danger"></span>

                    </div>
                     <div class="form-group">
                         <label>Apellido Materno</label>
                        <input type="text" asp-for="ApellidoMaterno" class="form-control">
                        <span asp-validation-for="ApellidoMaterno" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <label>Telefono</label>
                        <input type="number" asp-for="Telefono" class="form-control">
                        <span asp-validation-for="Telefono" class="text-danger"></span>

                    </div>

                    <div class="form-group">
                        <label>Criadero</label>
                        <select asp-items="ViewBag.Criaderos" asp-for="IdCriadero" class="form-control"></select>
                      
                    </div>
                    <div class="form-group">
                      <input type="submit" id="Boton" value="Registrar Criador" class="btn btn-success">                   
                    </div>

                </form>
                
            </div>   

        </div>
        


    </body>

</html>