@model LKBHistorial.Models.Criadero



<html>
    <script type="text/javascript">
        function confirmar(){
            
        }

    </script>

    <head>


    </head>

    <body>


        
    </body>

</html>
