@model Prenada



@{
    ViewData["Title"]="Registro de lunada";
}

<head>

</head>

<body>
    <div class="row">
        <div class="col-md-5">
             <form asp-action="RegistrarPrenada" asp-controller="Perro">
                <div class="form-control">

                </div>
                <div class="form-control">

                </div>
                <div class="form-control">

                </div>
                <div class="form-control">

                </div>
            </form>
        </div>
    </div>


</body>