

<html>
    <script type="text/javascript">
        $("#Boton").confirm("Quieres realizar el registro?");
        function confirmar(){
            
        }

    </script>

    
    <head>
        <title>
            Registrar Hembras
        </title>

    </head>

    <body>
        <div class="row">
            <div class="col-md-4">
                <div class="form-class">

                </div>
                <div class="form-class">

                </div>
                <div class="form-class">

                </div>
                <div class="form-class">

                </div>
                <div class="form-class">

                </div>
                <div class="form-class">
                    <input type="submit" value="Registrar Reproductora" class="btn btn-default">
                </div>

            </div>

        </div>


        <form asp-action="ArbolGeneologico" >
            <input type="button" value="Regresar" class="btn btn-secondary" id="Boton">
        </form>
            
        

    </body>




</html>