@model IEnumerable<LKBHistorial.Models.Deudor>

@{

    ViewData["Title"]="Lista de deudores";
}


<head>


</head>

<body>
  <div class="row">
      <div class="col-md-12">

      </div>
      @foreach (var i in Model)
      {
        <div class="col-md-4">
            <p>
                Nombre:
                @Html.DisplayFor(modelItem=>i.PersonaDeudor.Nombre)
            </p>
            <p>
                @Html.DisplayFor(modelItem=>i.Correo)
            </p>
            @if(i.Estado){
                <p>
                ¿Disponible?:
                Si
                </p>
            }else{
                <p>
                ¿Disponible?:
                No
                </p>
            }
            
            <p>
                
            </p>
            <a asp-action="DetallesDeudor" asp-controller="Deudor" asp-route-id="@i.Id" class="btn btn-info">Detalles</a>

        </div>
          
      }
  </div>

</body>
