@model IEnumerable<LKBHistorial.Models.Deudor>

@{

    ViewData["Title"]="Lista de deudores";
}


<head>


</head>

<body>
  <div class="row">
      <div class="col-md-12">

      </div>
      @foreach (var i in Model)
      {
        <div class="col-md-4">

        </div>
          
      }
  </div>

</body>
