@model IEnumerable<LKBHistorial.Models.Deudor>

@{

    ViewData["Title"]="Lista de deudores";
}


<head>


</head>

<body>
  <div class="row">
      <div class="col-md-12">
          <a asp-action="RegistrarDeudor" asp-controller="Deudor" class="btn btn-primary">Registrar deudor</a>
          <a asp-action="ListaDeudas" asp-controller="Deudor" class="btn btn-warning">Ver deudas</a>
      </div>
      @foreach (var i in Model)
      {
        <div class="col-md-4">
            <p>
                Nombre:
                @Html.DisplayFor(modelItem=>i.PersonaDeudor.Nombre)
            </p>
            <p>
                @Html.DisplayFor(modelItem=>i.Correo)
            </p>
            @if(i.Estado){
                <p>
                ¿Disponible?:
                Si
                </p>
            }else{
                <p>
                ¿Disponible?:
                No
                </p>
            }
            
            <p>
                
            </p>
            <a asp-action="DetallesDeudor" asp-controller="Deudor" asp-route-id="@i.Id" class="btn btn-info">Detalles</a>
             <a asp-action="ModificarDeudor" asp-controller="Deudor" asp-route-id="@i.Id" class="btn btn-secondary">Modificar</a>
        </div>
          
      }
  </div>

</body>
