@model Deudor

@{

    ViewData["Title"]="Modificación de Deudor";
}

<head>


</head>

<body>
    <div class="row">
        <div class="col-md-6">
            <form asp-action="ModificarDeudor" asp-controller="Deudor">
                <div class="form-group">

                </div>
                <div class="form-group">
                    
                </div>
                <div class="form-group">
                    
                </div>
                <div class="form-group">
                    
                </div>
                <div class="form-group">
                    
                </div>
        
            </form>

        </div>
    </div>
    



</body>

