@model Deudor

@{

    ViewData["Title"]="Registro de Deudor";
}

<head>


</head>

<body>
    <h3>Registrar Deudor</h3>
     <div class="row">
        <div class="col-md-6">
            <form asp-action="RegistrarDeudor" asp-controller="Deudor">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label>Id del Deudor</label>
                    <select asp-items="ViewBag.Personas" asp-for="Id" class="form-control"></select>
                </div>

                <div class="form-group">
                    <label>Correo</label>
                    <input type="email" asp-for="Correo" class="form-control">
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>¿Está disponible?</label>
                    <input type="checkbox" asp-for="Estado" class="form-control">
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Registrar deudor" class="btn btn-primary">
                </div>
        
            </form>

        </div>


    </div>
    <div class="row">
            <div class="col-md-2">
                <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Regresar</a>
            </div>
            <div class="col-md-2">
                <a asp-action="ListaDeudores" asp-controller="Deudor" class="btn btn-info">Ver listado</a>
            </div>
            
    </div>


</body>

