@model Deuda

@{
    ViewData["Title"]="Registro de deuda";
}

<body>
     <div class="row">
        <div class="col-md-6">
            <form asp-action="RegistrarDeuda" asp-controller="Deudor">
                <div class="form-group">

                </div>
                <div class="form-group">
                    
                </div>
                <div class="form-group">
                    
                </div>
                <div class="form-group">
                    
                    <span asp-validation-for="FechaInicio"></span>
                    
                </div>
                <div class="form-group">
                    <input type="submit" value="Registrar Deuda">
                </div>
        
            </form>

        </div>
    </div>



</body>