@model Deudor

@{

    ViewData["Title"]="Registro de Deudor";
}

<head>


</head>

<body>
     <div class="row">
        <div class="col-md-6">
            <form asp-action="RegistrarDeudor" asp-controller="Deudor">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label>Id del Deudor</label>
                    <select asp-items="ViewBag.Personas" asp-for="Id" class="form-control"></select>
                </div>

                <div class="form-group">
                    <label>Correo</label>
                    <input type="email" asp-for="Correo" class="form-control">
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>¿Está disponible?</label>
                    <input type="checkbox" asp-for="Estado" class="form-control">
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Registrar deudor" class="btn btn-primary">
                </div>
        
            </form>

        </div>
    </div>



</body>

