@model LKBHistorial.Models.PerroSocio

@{
    ViewData["Title"]="Asignación de socios";
}

<body>
     <div class="row">
        <div class="col-md-6">
            <form asp-action="AsignarPerroSocio" asp-controller="Socio">
                <div class="form-group">
                    <select asp-for="IdSocio" asp-items="ViewBag.Socios" class="form-control"></select>
                </div>
                <div class="form-group">
                    <input type="text" asp-for="Nombre" class="form-control">
                    <span asp-validation-for="Nombre"></span>
                </div>
                <div class="form-group">
                    <select asp-for="Sexo" class="form-control">
                        <option value="H">Hombre</option>
                        <option value="M">Mujer</option>
                    </select>
                </div>
                <div class="form-group">
                    
                </div>
                <div class="form-group">
                    
                </div>
                <div class="form-group">
                    <input type="submit" value="Asignar socio" class="btn btn-primary">
                </div>
            </form>

        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <a asp-action="Index" asp-controller="Home" class="btn btn-info">Lista de asignaciones</a>
        </div>
        <div class="col-md-2">
            <a asp-action="Asignaciones" asp-controller="Socio" class="btn btn-dark">Regresar</a>
        </div>

    </div>


</body>


