@model LKBHistorial.Models.PerroSocio

@{
    ViewData["Title"]="Asignación de socios";
}

<body>
     <div class="row">
        <div class="col-md-6">
            <form asp-action="RegistrarPersona" asp-controller="Persona">
                <div class="form-group">

                </div>
                <div class="form-group">
                    
                </div>
                <div class="form-group">
                    
                </div>
                <div class="form-group">
                    
                </div>
                <div class="form-group">
                    
                </div>
                <div class="form-group">
                    <input type="submit" value="Asignar socio" class="">
                </div>
            </form>

        </div>
    </div>


</body>


