@model IEnumerable<LKBHistorial.Models.PerroSocio>

@{
    ViewData["Title"]="Asignaciones de socios";
}

<body style="background: linear-gradient(to bottom, #afd275 2%, #ffffff 99%);">
    <h2>Lista de asociaciones</h2>
    <div class="row">
        <div class="col-md-12">
            <a asp-action="AsignarPerroSocio" asp-controller="Socio" class="btn btn-primary">Asignar</a>
            <a asp-action="ListaSocios" asp-controller="Socio" class="btn btn-info">Ver todos los socios</a>
            <div>

            </div>
        </div>
        @foreach (var i in Model)
        {
           <div class="col-md-4 border border-primary rounded">
               
               <p>
                   Nombre del socio/a: 
                    @Html.DisplayFor(modelItem=>i.SocioNavigation.PersonaSocio.Nombre)
               </p>
               <p>
                   Apellido del socio/a: 
                    @Html.DisplayFor(modelItem=>i.SocioNavigation.PersonaSocio.ApellidoPaterno)
               </p>
              
               <p>
                   Nombre del Perro: 
                   @Html.DisplayFor(modelItem=>i.PerroAsociado.Nombre)
               </p>
               <p>
                   Sexo del Perro: 
                   @if(i.PerroAsociado.Sexo.Equals("M")){
                       <span>Macho</span>
                   }else{
                       <span>Hembra</span>
                   }
                   
               </p>

            </div> 
        }
        


    </div>

    
</body>


