@model IEnumerable<LKBHistorial.Models.Socio>

@{
    ViewData["Title"]="Lista de socios";
}


<body>
    <div class="row">
        <div class="col-md-12">
            <a asp-action="RegistrarSocio" asp-controller="Socio" class="btn btn-secondary"></a>
        </div>
        <div class="col-md-3">

        </div>

    </div>

</body>

