@model Socio

@{

    ViewData["Title"]="Modificación de Socio";
}

<head>


</head>

<body>
     <div class="row">
        <div class="col-md-6">
            <form asp-action="RegistrarSocio" asp-controller="Socio">
                <div class="form-group">

                </div>
                <div class="form-group">
                    
                </div>
                <div class="form-group">
                    
                </div>
                <div class="form-group">
                    
                </div>
                <div class="form-group">
                    
                </div>
        
            </form>

        </div>
    </div>


</body>
